<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/stylesheet.css" rel="stylesheet"/>
    <script type="text/javascript" src="/static/call.js"></script>
</head>
<body>
<header>
    {{ if not .flights }}
    <form method="POST">
        <label>Airport Code</label>
        <input type="text" id="airport" name="airport">
        <label>Start Date</label>
        <input type="text" id="date_from" name="start_date">
        <label>End Date</label>
        <input type="text" id="time_frame" name="end_date">
        <button type="submit" value="airport">Search</button>
    </form>
    {{ end }}
</header>

{{ if.found }}
    <h1>Found:</h1>
        <h2>hex: {{ .found.Icao24 }}</h2>
        <h2>Company: {{ .found.Company }}</h2>
        <h2>Registration: {{ .found.Registration }}</h2>
{{end}}
{{ if .flights }}
<div class="table-wrapper">
        <table class="fl-table flight_table">
            <thead>
            <tr>
                <th class="column-heading">unix time</th>
                <th class="column-heading">date</th>
                <th class="column-heading">Departing From</th>
                <th class="column-heading">icao24</th>
                <th class="column-heading">Arrival At</th>
            </tr>
            </thead>
            <tbody id="flights">
            {{ range .flights }}
            <tr id="{{ .Icao24 }}_{{ .FirstSeen }}">
                    <td class="first_seen" id="first-seen-unix">{{  .FirstSeen }}</td>
                    <td class="first_seen" id="first-seen">{{  .FirstSeen }}</td>
                    <td>{{  .EstDepartureAirport }}</td>
                    <td>{{  .Icao24 }}</td>
                    <td>{{  .EstArrivalAirport }}</td>
                </tr>
            {{ end }}
            {{ else}}
{{ end }}
            </tbody>
        </table>
    </div>
<nav class="file-table-wrapper">
    <ul>
        {{ range .files }}
                <li id="{{ .Name }}" >{{ .Name }}</li>
        {{ end }}
    </ul>
</nav>

</body>
</html>

