<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>WTF!!!!</h1>
<p id="TEST"></p>

{{ range . }}
<div>{{ . }}</div>
{{ end }}
</body>
</html>

